*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

.container-main{
    display: flex;
}

.container-character{
    background-color: white;
    height: 400px;
    width: 400px;
    margin: 20px;
}