*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    height: 100vh;
    width: 100%;
}

.container-main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.container-character{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 400px;
    width: 400px;
    margin: 20px;
}

.container-img-character{
    height: 150px;
    width: 250px;
}

.container-img-character > img{
    width: 100%;
}